.wy-side-nav-search .wy-dropdown > a img.logo,
.wy-side-nav-search > a img.logo {
  min-width: 150px;
  width: 150px;
}
div.body, .document, .section {
    text-align: justify;
}
.rst-content table td {
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    hyphens: auto;
}